# Shared requirements.txt file for all Python services in this repo.
altair==5.5.0
fastapi
numpy
pandas
requests
uvicorn[standard]
pytest
pytest-cov
pydantic
sqlalchemy==2.0.41
psycopg[binary]==3.2.9
